
            * {
                margin: 0px;
                padding: 0px;
                position: relative;
            }
            html, body {
                width: 100vw;
                height: 100vh;
                background-color: #ccc
            }
            .main-container {
                display: grid;
                height: 100%;

                grid-template-rows: 4fr 4fr 4fr;


            }
            .row-one,
            .row-two,
            .row-three {
                display:grid;
                grid-template-columns:1fr 5fr 2fr;
                
            

            }
            .row-one {
                background-color: burlywood
            }
            .row-two {
                background-color: #0c0505;
            }
            .row-three{
                background-color: blue
            }
            .container-padding {
            
                margin: 12px;
                 border: 1px dashed #830d0d;
                }
            
            